<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>read</title>
</head>
<body>
    <table border="1">
        <% for(let res of mainRes){ %>
            <tr>
                <td><%=res.name%></td> 
                <td><%=res.education%></td>
                <td><%=res.age%></td>
            </tr>
        <%  } %>
    </table>

    
</body>
</html>


